.p-Home.Flex3 {
display: flex;
margin-left: 0px;
}
.p-Home.Flex4 {
display: flex;
}
.p-Home.Flex5 {
display: flex;
flex-direction: column;
}
.p-Home.Flex6 {
display: flex;
flex-direction: column;
margin-left: 0px;
}
.p-Home.Flex7 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
flex-direction: column;
}
.p-Home.Flex9 {
display: flex;
margin-left: 150px;
}
.p-Home.TextBox11 {
color: #000000;
margin-right: ;
margin-left: 100px;
margin-top: 30px;
outline-style: ;
cursor: pointer;
word-wrap: normal;
text-align: left;
font-size: 140%;
outline-width: 1px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox12 {
color: #ee0e0e;
margin-left: 0px;
margin-right: ;
margin-top: 34px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox13 {
margin-top: 33px;
margin-left: 550px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.TextBox14 {
margin-top: 34px;
margin-left: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
}
.p-Home.TextBox17 {
margin-top: 34px;
margin-left: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
}
.p-Home.TextBox18 {
margin-top: 34px;
margin-left: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
}
.p-Home.TextBox19 {
margin-top: 34px;
margin-left: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
}
.p-Home.TextBox21 {
margin-top: 33px;
margin-left: 5px;
cursor: pointer;
float: right;
clear: none;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Image6 {
height: 500px;
width: 500px;
margin-left: ;
margin-top: 50px;
margin-right: 20px;
}
.p-Home.TextBox30 {
;
}
.p-Home.Image8 {
width: 550px;
height: 250px;
margin-top: 110px;
margin-left: 100px;
}
.p-Home.TextBox32 {
margin-left: 110px;
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #7e7979;
}
.p-Home.Button3 {
color: #ffffff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-top: 30px;
margin-left: 110px;
}
.p-Home.TextBox33 {
font-family: IBM Plex Sans;
font-weight: 600;
margin-top: 36px;
margin-left: 30px;
}
.p-Home.TextBox34 {
margin-left: 655px;
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Image9 {
width: ;
height: 32px;
margin-top: 10px;
margin-left: 220px;
}
.p-Home.Image11 {
height: 32px;
margin-top: 10px;
margin-left: 60px;
}
.p-Home.Image12 {
height: 32px;
margin-top: 10px;
margin-left: 60px;
}
.p-Home.Image13 {
height: 32px;
margin-top: 10px;
margin-left: 60px;
}
