.p-Product Designer.Flex59 {
display: flex;
}
.p-Product Designer.Flex60 {
display: flex;
flex-direction: column;
}
.p-Product Designer.Flex61 {
display: flex;
margin-top: 50px;
}
.p-Product Designer.Flex62 {
display: flex;
margin-top: 50px;
}
.p-Product Designer.Flex63 {
display: flex;
flex-direction: column;
}
.p-Product Designer.Image53 {
font-family: IBM Plex Sans;
width: 250px;
margin-left: 70px;
margin-top: 50px;
}
.p-Product Designer.TextBox120 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 45px;
margin-left: 70px;
}
.p-Product Designer.TextBox121 {
font-family: IBM Plex Sans;
font-size: 20px;
margin-left: 170px;
margin-right: 50px;
color: #716e6e;
}
.p-Product Designer.Image54 {
width: 290px;
height: 500px;
margin-left: 70px;
}
.p-Product Designer.Image55 {
width: 400px;
height: 500px;
margin-left: 20px;
}
.p-Product Designer.Image57 {
height: 240px;
width: 280px;
margin-left: 20px;
margin-bottom: 20px;
}
.p-Product Designer.Image58 {
width: 280px;
height: 240px;
margin-left: 20px;
}
