.p-Product Designer 2.Flex64 {
display: flex;
}
.p-Product Designer 2.Flex65 {
display: flex;
margin-left: 50px;
flex-direction: column;
height: 200px;
}
.p-Product Designer 2.Flex69 {
display: flex;
}
.p-Product Designer 2.Flex71 {
display: flex;
flex-direction: column;
}
.p-Product Designer 2.Flex66 {
display: flex;
margin-left: 200px;
flex-direction: column;
}
.p-Product Designer 2.Flex78 {
display: flex;
}
.p-Product Designer 2.Flex93 {
display: flex;
flex-direction: column;
}
.p-Product Designer 2.Flex94 {
display: flex;
}
.p-Product Designer 2.Flex79 {
display: flex;
margin-top: ;
width: ;
}
.p-Product Designer 2.Flex80 {
display: flex;
flex-direction: column;
margin-left: 50px;
}
.p-Product Designer 2.Flex81 {
display: flex;
flex-direction: column;
width: 100px;
margin-left: 125px;
}
.p-Product Designer 2.Flex99 {
display: flex;
margin-left: 50px;
flex-direction: column;
width: ;
}
.p-Product Designer 2.Flex101 {
display: flex;
}
.p-Product Designer 2.Flex90 {
display: flex;
width: ;
}
.p-Product Designer 2.Flex91 {
display: flex;
flex-direction: column;
margin-top: 70px;
}
.p-Product Designer 2.Flex92 {
display: flex;
}
.p-Product Designer 2.Flex102 {
display: flex;
flex-direction: column;
}
.p-Product Designer 2.Flex103 {
display: flex;
}
.p-Product Designer 2.TextBox122 {
margin-left: ;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
}
.p-Product Designer 2.TextBox125 {
margin-top: 80px;
font-family: IBM Plex Sans;
margin-left: 80px;
padding-right: ;
font-size: 15px;
height: 50px;
width: 100px;
color: #4c4a4a;
}
.p-Product Designer 2.TextBox126 {
font-family: IBM Plex Sans;
color: #4c4a4a;
}
.p-Product Designer 2.TextBox127 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 23px;
margin-top: 50px;
}
.p-Product Designer 2.TextBox124 {
margin-left: ;
font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 700;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Product Designer 2.TextBox135 {
font-family: IBM Plex Sans;
font-size: 23px;
font-weight: 500;
margin-top: 50px;
}
.p-Product Designer 2.TextBox136 {
color: #4c4a4a;
font-family: IBM Plex Sans;
}
.p-Product Designer 2.TextBox137 {
margin-left: 90px;
color: #4c4a4a;
font-family: IBM Plex Sans;
margin-top: 80px;
}
.p-Product Designer 2.TextBox129 {
font-family: IBM Plex Sans;
font-weight: 500;
margin-left: 0px;
font-size: 20px;
}
.p-Product Designer 2.TextBox130 {
font-size: ;
font-family: IBM Plex Sans;
color: #4c4a4a;
}
.p-Product Designer 2.TextBox131 {
font-family: IBM Plex Sans;
font-size: 15px;
margin-top: 20px;
color: #4c4a4a;
margin-left: 25px;
padding-right: ;
width: 100px;
}
.p-Product Designer 2.TextBox141 {
font-family: IBM Plex Sans;
font-size: 23px;
font-weight: 500;
margin-left: 176px;
}
.p-Product Designer 2.TextBox142 {
color: #4c4a4a;
font-family: IBM Plex Sans;
margin-left: 176px;
}
.p-Product Designer 2.TextBox143 {
font-family: IBM Plex Sans;
color: #4c4a4a;
margin-top: 28px;
margin-left: 110px;
}
.p-Product Designer 2.TextBox132 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 23px;
margin-left: 50px;
}
.p-Product Designer 2.TextBox133 {
font-family: IBM Plex Sans;
color: #4c4a4a;
margin-left: 50px;
}
.p-Product Designer 2.TextBox134 {
margin-left: 60px;
margin-top: 100px;
color: #4c4a4a;
width: 100px;
}
.p-Product Designer 2.TextBox144 {
font-family: IBM Plex Sans;
font-size: 23px;
font-weight: 500;
margin-left: 200px;
margin-top: 70px;
}
.p-Product Designer 2.TextBox145 {
color: #4c4a4a;
font-family: IBM Plex Sans;
margin-left: 200px;
font-size: ;
}
.p-Product Designer 2.TextBox146 {
color: #4c4a4a;
font-family: IBM Plex Sans;
margin-top: 100px;
margin-left: 175px;
}
